{% extends 'base.html.twig' %}
{% block title %}Create post{% endblock %}

{% block body %}
    <h1>Add a new post to the list</h1>

    {# Include the form #}
    {{ include('post/_form.html.twig', {'button_label': 'Maak post'}) }}

{% endblock %}