{% extends 'base.html.twig' %}
{% block title %}Create post{% endblock %}

{% block body %}
    <h1>Post bewerken</h1>

{{ include('post/_form.html.twig', {'button_label': 'Update post'}) }}
{% endblock %} 